<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Insetec - Registro</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crie sua conta!</h1>
                            </div>
                            <form method="post" action="/registro/registrar" enctype="multipart/form-data" th:object="${usuario}">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0" for="nome">
                                        <input type="text" class="form-control form-control-user" id="nome" name="nome" field="*{nome}"
                                            placeholder="Seu nome">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input for="email" type="email" class="form-control form-control-user" id="email" name="email" field="*{email}"
                                        placeholder="Email">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input for="senha" type="password" class="form-control form-control-user" name="senha" field="*{senha}"
                                            id="senha" placeholder="Senha">
                                    </div>
                                    <div class="form-group">
                                        <input  for="telefone" type="telefone" class="form-control form-control-user" id="telefone" name="telefone" field="*{telefone}"
                                            placeholder="(XX) XXXXX-XXXX">
                                    </div>
                                    <div class="form-group">
                                        <input for="cidade" type="cidade" class="form-control form-control-user" id="cidade" name="cidade" field="*{cidade}"
                                            placeholder="Cidade">
                                    </div>
                                    <div class="type-select">
                                        <select for="estado" name="estado" required id="estado" style="margin-bottom: 20px" field="*{estado}">
                                            <option th:value="AC">Acre</option>
                                            <option th:value="AL">Alagoas</option>
                                            <option th:value="AP">Amapá</option>
                                            <option th:value="AM">Amazonas</option>
                                            <option th:value="BA">Bahia</option>
                                            <option th:value="CE">Ceará</option>
                                            <option th:value="DF">Distrito Federal</option>
                                            <option th:value="ES">Espírito Santo</option>
                                            <option th:value="GO">Goías</option>
                                            <option th:value="MA">Maranhao</option>
                                            <option th:value="MT">Mato Grosso</option>
                                            <option th:value="MS">Mato Grosso do Sul</option>
                                            <option th:value="MG">Minas Gerais</option>
                                            <option th:value="PA">Pará</option>
                                            <option th:value="PB">Paraíba</option>
                                            <option th:value="PR">Paraná</option>
                                            <option th:value="PE">Pernambuco</option>
                                            <option th:value="PI">Piauí</option>
                                            <option th:value="RJ">Rio de Janeiro</option>
                                            <option th:value="RN">Rio Grande do Norte</option>
                                            <option th:value="RS">Rio Grande do Sul</option>
                                            <option th:value="RO">Rondonia</option>
                                            <option th:value="RR">Roraima</option>
                                            <option th:value="SC">Santa Catarina</option>
                                            <option th:value="SP">São Paulo</option>
                                            <option th:value="SE">Sergipe</option>
                                            <option th:value="TO">Tocantins</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registrar conta
                                </button>
                            </form>
                            <div class="text-center">
                                <a class="small" href="/login">Já tem uma conta? Entrar!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>