<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>INSETEC</title>
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="cabecalho">
             <img src="/img/Logo.png" style="width: 130px; margin-left: 70px;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#somos">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link" href="#motivo">Razão</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/460223/pexels-photo-460223.jpeg')">
            <div class="text-center my-5">
                <br>
                <br>
                <br>
                <h1 class="text-white fs-3 fw-bolder">INSETEC</h1>
                <p class="text-white-50 mb-0">Semeando a econômia do Brasil</p>
                <br>
                <br>
                <br>
            </div>
        </header>
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center" id="somos">
                    <div class="col-lg-6">
                        <h2>Quem Somos</h2>
                        <p class="lead">Somos um grupo de uma faculdade de tecnologia com mentes abrangentes e fora da caixa. Desenvolvendo um projeto que promete auxiliar criadores de gado de todo país e revolucionar a forma que a agropecuária é instaurada.</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <div class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/1276235/pexels-photo-1276235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
            <div style="height: 20rem"></div>
        </div>
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center" id="motivo">
                    <div class="col-lg-6">
                        <h2>Nossa Razão</h2>
                        <p class="lead">Tendo em mente fazer um projeto que pudesse auxiliar as pessoas tivemos diversas idéias. A alavanca principal foi o fato de poder ajudar em algo que temos de muito forte no nosso país, a Agropecuária.</p>
                       
                    </div>
                </div>
            </div>
        </section>
        <footer class="py-5 bg-dark">
            <a href="#cabecalho"><img src="https://cdn-icons-png.flaticon.com/512/56/56902.png" style="width: 50px; background-color: #fff; border-radius: 5px; float: left; margin-left: 15px;"></a>
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; INSETEC</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
